<div id="<%= dom_id console %>">
  <p>
    <strong>Name:</strong>
    <%= console.name %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= console.manufacturer %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= console.colour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= console.price %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= console.status %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= console.stock %>
  </p>

</div>
