<div id="<%= dom_id customer %>">
  <p>
    <strong>Customer name:</strong>
    <%= customer.customer_name %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= customer.store_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= customer.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= customer.phone %>
  </p>

</div>
