<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
 
<table class="table table-stripe font">
  <thead class="thead-dark">
    <tr>
      
      <th>Customer</th>
      <th>Copy</th>
      <th>Game</th>
      <th>Date</th>
    
      
    </tr>
  </thead>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
    
      <td><%= customer.customer_name %></td>
      <td><%= customer.store_name %></td>
      <td> <%= customer.address %></td>
      <td> <%= customer.phone %></td>
    
    </tr>
  <% end %>
  </tbody>
</table>


</div>

<%= link_to "New customer", new_customer_path %>

