<p style="color: green"><%= notice %></p>

<h1>Customers</h1>

<div id="customers">
  <% @customers.each do |customer| %>
   
    <tr>
    <h3><%= customer.customer_name %></h3>
    <h3><%= customer.store_name %></h3>
    <h3><%= customer.address %></h3>
    <h3><%= customer.phone %></h3>
    <hr>
</tr>
  <% end %>
</div>

<%= link_to "New customer", new_customer_path %>
