
<div class="card " style="width: 18rem;"  id="<%= dom_id game %>">
 
  <%= image_tag game.image, class: 'card-img-top' %>
  
  <div class="card-body ">

     <p>
        <strong>Name:</strong>
         <%= game.name %>
        
    </p>
    <p>
        <strong>Age:</strong>
        <%= game.age %>
    </p>

    <p>
        <strong>Stock:</strong>
        <%= game.stock %>
    </p>

     <p>
        <strong>Price:</strong>
        <%= game.price %>
    </p>
    
    
    <%=  link_to "Check this game", game, class: 'btn btn-primary' %>
  </div>
</div>