<div id="<%= dom_id game %>">
  <p>
    <strong>Name:</strong>
    <%= game.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= game.age %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= game.stock %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= game.price %>
  </p>

</div>
