<div id="<%= dom_id sale %>">
  <p>
    <strong>Customer:</strong>
    <%= sale.customer_id %>
  </p>

  <p>
    <strong>Copy:</strong>
    <%= sale.copy %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= sale.game_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sale.date %>
  </p>

  <p>
    <strong>Margin:</strong>
    <%= sale.margin %>
  </p>

</div>
