<p style="color: green"><%= notice %></p>

<h1>Sales</h1>

<div id="sales">


  <table class="table table-stripe font ">
  <thead class="thead-dark">
    <tr>
      
      <th>Customer</th>
      <th>Copy</th>
      <th>Game</th>
      <th>Date</th>
      <th>Margin</th>
    
      
    </tr>
  </thead>
  <tbody>
 <% @sales.each do |sale| %>
    <tr>
    
      <td><%= sale.customer_id %></td>
      <td><%= sale.copy %></td>
      <td> <%= sale.game_id %></td>
      <td>  <%= sale.date %></td>
      <td>  <%= sale.margin %></td>
    
    </tr>
  <% end %>
  </tbody>
</table>
</div>

